.about {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  .aboutTop {
    width: 100%;
    height: 40%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  
  .aboutBottom {
    display: flex;
    flex-direction: column;
    height: 60%;
    align-items: center;
    margin: 50px;
    text-align: center;
  }
  
  /* .aboutBottom p {
    width: 1200px;
  } */
  
  .about .aboutBottom h1 {
    font-weight: 400;
    font-size: 70px;
    color: black;
    height: 30px;
    display: flex;
    justify-content: center;
    transform: translateY(-40px);
  }

  .aboutText{
    margin-right: 100px;
    margin-right: 100px;
  }

  .box{
    border-style: none;
    border-radius: 10px;
    background-color: #a6d9f5;
    height: 250px;
    width: 300px;
    padding: 20px;
    margin: 20px;
  }

  .horizontal{
    display: flex;
    flex-direction: row;
}